.cta{
  padding: 12rem 0 14rem;
  background: $gradient;
  text-align: center;
  h2{
    color: $white;
  }
  p{
    margin: 0 auto 4rem;
    color: $white;
    opacity: .75;
  }
  .button{
    box-shadow: 0 12px 36px 0 rgba(0,0,0,0.15);
    margin-bottom: 0;
  }
  @include breakpoint(700px){
    padding: 6rem 0 7rem;
  }
}
