<footer class="footer-global">
  <div class="footer-global__content">
    <div class="container footer-global__container">
    <div class="footer-global__details">
      <img src="media/logo-color.svg">
      <p>SecureSheet Technologies, LLC is a privately held company which began in 2003 with a vision for creating a simple way for businesses to communicate more effectively. </p>
    </div>
    <div class="footer-global__contact">
      <h5>Contact</h5>
      <p>
        <a href="mailto:sales@securesheet.com">sales@securesheet.com</a>
        <a href="mailto:support@securesheet.com">support@securesheet.com</a>
        <a href="#">877.475.1153</a>
      </p>
    </div>
    <div class="footer-global__explore">
      <h5>Explore</h5>
      <a href="#">Product</a>
      <a href="#">News</a>
      <a href="#">Company</a>
      <a href="#">Security</a>
      <a href="#">Privacy</a>
      <a href="#">Terms of Use</a>
      <a href="#">Site Map</a>
      <a href="#">FAQ</a>
    </div>
  </div>
  </div>
  <div class="social-links">
    <a href="#" class="social-links__item">
      <img src="media/twitter.svg" alt="">
    </a>
    <a href="#" class="social-links__item">
      <img src="media/linked-in.svg" alt="">
    </a>
    <a href="#" class="social-links__item">
      <img src="media/facebook.svg" alt="">
    </a>
    <small>
      &copy;2002-2018 SecureSheet Technologies, LLC.
    </small>
  </div>
</footer>

<div class="lightbox lightbox--login-form" id="login-modal">
  <section class="hero hero--center hero--form">
    <div class="container hero__container">
      <div class="hero__content">
        <h1>Login</h1>
      <form>
        <div class="input">
          <label>Email</label>
          <input type="text" name="" value="">
        </div>
        <div class="input">
          <label>Password</label>
          <input type="text" name="" value="">
        </div>
        <button class="button" type="button" name="button">Login</button>
      </form>
      </div>
    </div>

    </div>
  </section>
</div>

@@include('html-end.html')
